body {
  font-family: 'Arial';
  text-decoration: none;
  font-size: small;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: white;
  background: #252e3c;
  color: #dddddd;
}

#header h1 {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
}

#control, #map, #toggle, #feedback, #legend {
  position: absolute;
}

#control {
  top: 50px;
  left: 0;
  width: 160px;
  bottom: 0px;
  overflow-y: auto;
  background: #252e3c;
  z-index: 5;
  padding-left: 4px;
  color: gray;
}

#control > div {
  margin-bottom: 20px;
}

#control h4 {
  margin: 0;
  padding-bottom: 2px;
}

#control h3 {
  margin: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top: 1px solid gray;
  background-color: #353e4c;
}

#control div > div {
  padding-top: 5px;
  border-top: 1px solid gray;
}

#control select {
  background-color: #151e2c;
  color: gray;
  background-color: gray;
  color: black;
}
#control option {
  background-color: #252e3c;
  color: gray;
}
#control .controlgroup label, #control .controlgroup input {
  cursor: pointer;
}

#control > div:last-child {
  border-bottom: 1px solid gray;
  background-color: #353e4c;
  padding-bottom: 5px;
  cursor: pointer;
  margin-bottom: 0px;
}

#toggle {
  top: 57px;
  left: 142px;
  z-index: 10;
  width: 30px;
}
#toggle img {
  width: 16px;
  filter: brightness(50%);
  cursor: pointer;
}
.tlabel {
  float: left;
  width: 35px;
}

#map {
  top: 50px;
  left: 0px;
  right: 0;
  bottom: 0px;
  background: #888888;
}

#legend {
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,.7);
  top: 55px;
  left: 170px;
  min-width: 140px;
  z-index: 15;
  padding: 5px;
  line-height: 200%;
  display: none;
}
.legendentry img {
  vertical-align: middle;
  height: 22px;
  cursor: pointer;
}
.legendentry img:hover {
  -webkit-transform:scale(1.3);
}
#close {
  width:100%;
}
#close img {
  float: right;
}
#feedback {
  left: 170px;
  bottom: 30px;
  z-index: 20;
  background-color: rgba(255,255,255,.8);
  border-radius: 10px;
  padding: 15px;
  border: 1px solid gray;
  padding-bottom: 0px;
  display: none;
}
#feedback div {
  margin-bottom: 10px;
}

#happy {
  vertical-align: top;
}
#worship {
  vertical-align: middle;
}
a:visited {color: blue;}

.infowindow {
}
.infowindow span.label {
  display: inline-block;
  width: 76px;
}
.infowindow .opponent {
  font-size: 140%;
  font-weight: bold;
}
.infowindow .result {
  font-weight: bold;
}
.infowindow .stadium {
  font-weight: bold;
  font-size: 140%;
}
.infowindow .tilskuere {
  font-weight: bold;
}
.infowindow .infocomment {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  word-wrap: break-word;
}

@media only screen and (max-width: 500px) {
  #header h1 {
    font-size: 5vw;
    margin: 2px;
  }
  #header {height: 35px;}
  #control {
    top: 35px;
/*    bottom: -40px;*/
  }
  #map {top: 35px;}
  #toggle {top: 40px;}
  #legend {top: 55px;}
}

